@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color:rgb(126, 43, 43);
    --secondary-color:#761c0a;


}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins',sans-serif;
    margin: 0;
}

header{
    margin: 3rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
}

.header-img{
    justify-content: flex-start;
    background-color: transparent ;
}
.header-img img{
    width: 60px;
    

}
.form{
    width: 32px;
}

.search{
    background-color: aliceblue;
    border: 2px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 20px;
    color: var(--secondary-color);
    font-family: inherit;
}

.search:focus{
    outline: 0;
    background-color: #928f8f;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie{
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgb(0, 0, 0);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
    
}
.movie img{
    width: 100%;
}

.movie-info{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0.5rem 1rem 1rem;

}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.5rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: lightgreen;
}

.movie-info span.orange{
    color: orange;
}

.movie-info span.black{
    color: black;
}

.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: seashell;
    padding : 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview{
    transform: translateY(0)
}
